.timeline{
	width:800px;
	background-color:#072736;
	color:#fff;
	padding:30px 20px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #094a68;
	padding:10px 5px;	
}
.timeline ul li{
	padding:20px 20px;
	position:relative;	
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:5px 10px;
	font-size:20px;
	text-align:center;
	cursor: pointer;
}
.timeline ul li .content h3{
	color:#34ace0;
	font-size:20px;
	padding: 10px 0px 0px 20px;
}
.timeline ul li .content label{
	padding:5px 0px 15px 0px;
	font-size:18px;
    padding-left: 35px;
	cursor: pointer;	
}
.timeline ul li .content a{  
  color:#34ace0;
  text-decoration: none;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#071f2a;
}
.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}

@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}
}

.expand {
	display:inline-block;
	background-color:#1685b8;	
	padding:5px 10px;
	font-size:20px;
	text-align:center;
	cursor: pointer;
	margin-bottom: 20px;
}