@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, html,body{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
	perspective:800px;
}
body{
	background-color:#227093;
	width:100%;
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 50px;
	margin-bottom: 50px;
}